body {
}

.navbar-left {
    width: 15%;
}

.main_menu li {
}

.main_menu a {
    height: 20%;
    width: 100%;
    text-align: center;
    list-style: none;
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

    .main_menu a:hover {
        background-color: #ccc;
        color: red;
    }

    .main_menu a:active {
        color: red;
    }


.main_menu p {
    height: 20%;
    width: 100%;
    text-align: center;
    list-style: none;
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

    .main_menu p:hover {
        background-color: #ccc;
        color: red;
    }

    .main_menu p:active {
        color: red;
    }

.tab-content {
    background-color: gray;
}
