<link href="~/public/css/footer.css" rel="stylesheet" />

<div class="slogan">
    <div class="container" style="height: 100%; display: flex">
        <div class="slogan-item">
            <div class="slogan-logo">
                <img class="slogan-logo-element" src="~/public/images/footer-safe.png" />
            </div>
            <p class="slogan-name">Sản phẩm an toàn</p>
        </div>
        <div class="slogan-item">
            <div class="slogan-logo">
                <img class="slogan-logo-element" src="~/public/images/footer-quanlity.png" />
            </div>
            <p class="slogan-name">Chất lượng cam kết</p>
        </div>
        <div class="slogan-item">
            <div class="slogan-logo">
                <img class="slogan-logo-element" src="~/public/images/footer-service.png" />
            </div>
            <p class="slogan-name">Dịch vụ vượt trội</p>
        </div>
        <div class="slogan-item">
            <div class="slogan-logo">
                <img class="slogan-logo-element" src="~/public/images/footer-diliver.png" />
            </div>
            <p class="slogan-name">Giao hàng nhanh</p>
        </div>
    </div>
</div>
<div class="footer">
    <p class="footer-copyright">@@VanTiennn</p>
</div>

