<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nguyenvantiennn-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8007.site4now.net:8172/MsDeploy.axd?site=nguyenvantiennn-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>nguyenvantiennn-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>nguyenvantiennn-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VinMartEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8001.site4now.net;Initial Catalog=db_a85010_nguyenvantiennn;Persist Security Info=True;User ID=db_a85010_nguyenvantiennn_admin;Password=NVT10@1smsp" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VinMart.Models.VinMartEntities, VinMart" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VinMartEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8001.site4now.net;Initial Catalog=db_a85010_nguyenvantiennn;Persist Security Info=True;User ID=db_a85010_nguyenvantiennn_admin;Password=NVT10@1smsp"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>