* {
    box-sizing: inherit;
}
body{
    padding: 0 !important;
}
html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.spinner-container{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 40px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    background-color: transparent;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}